<h1><%= @user.name %> さんとのチャット</h1>
<div id="chat_area">
  <% @chats.each do |chat| %>
    <%= chat.message %> </br>
  <% end %>
</div>
<div id="chat_form">
  <%= form_with model: @chat, remote: true do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>
</div>
